@charset "UTF-8"; /* エスケープ */


/* --------------------------------
Common
-------------------------------- */
/* section */
#main .section{
margin-bottom:40px;
}
#main .section.mb0{
margin-bottom:0px !important;
}
#main .sectionMonthlyTop{
padding:25px 20px 18px;
margin-bottom: 25px;
background-color: #fff;
border: 2px solid #ededed;
}
#main .sectionMonthlyTop02{
padding:25px 20px 18px;
margin-bottom: 25px;
background-color: #fff5f8;
border: 2px solid #ffccdd;
}
#main .sectionMonthlyTop03{
padding:25px 20px 18px;
margin-bottom: 25px;
background-color: #e8f9fe;
border: 2px solid #ace2e6;
}
#main .sectionTabUnder{
margin:0 0 25px 0;
}
#main .lead{
margin-bottom:30px;
}
#main .lead p{
margin-bottom:1em;
}
#main .lead .heading{
margin-bottom: 13px;
}


/* p */
#main p.br05em{
margin-bottom:0.5em;
}
#main p.br3em{
margin-bottom:3em;
}
#main p.br3{
margin-bottom:3px;
}
#main p.br10{
margin-bottom:10px;
}
#main p.br15{
margin-bottom:15px;
}
#main p.br20{
margin-bottom:20px;
}
#main p.br25{
margin-bottom:25px;
}
#main p.br30{
margin-bottom:30px;
}
#main p.br40{
margin-bottom:40px;
}
#main p.br50{
margin-bottom:50px;
}
#main p.br60{
margin-bottom:60px;
}
#main p.border{
text-decoration:underline;
}
#main .caption{
text-align:center;
margin:5px 0;
}
#main .txtC{
text-align:center;
}
#main .txtR{
text-align:right;
}
#main .iconBlank{
margin-left:5px;
}

/* float */
#main .floatR{
float:right;
margin-left:40px;
}
#main .floatL{
float:left;
}
/* anchor */
#main .arr01{
background:url(../common/img/arr_01.gif) no-repeat 0 center;
padding-left:10px;
}
#main .arr02{
background:url(../common/img/arr_04.png) no-repeat 0 center;
padding-left:12px;
}

/* lists */
#main ul.mb20 {
    margin-bottom: 20px;
}
#main ul.decimal{
list-style:decimal outside;
margin-left:25px;
}
#main ul.decimal li{
margin-bottom:8px;
}
#main ul.disc{
list-style:disc outside;
margin-left:20px;
}
#main ul.disc li{
/*margin-bottom:3px;*/
}
#main .circleList{
margin-bottom:10px;
}
#main .circleList li{
background:url(../common/img/icon_disc.gif) no-repeat 0 0.35em;
margin-bottom: 5px;
padding-left: 20px;
color: #333;
}
#main ul.decimal li ul li {
margin-left:2em;
text-indent:-2em;
}
#main ul.decimal li.mb0{
margin-bottom: 0px !important;
}
#main .circleList.mb0,
#main .circleList li.mb0 {
margin-bottom: 0px !important;
}
#main .circleList li.mb10{
margin-bottom: 10px !important;
}

/* --------------------------------
Headline, wrap
-------------------------------- */
#main #wrapH2{
background-color: #666666;
position:relative;
margin-bottom:25px;
}
#main .monthlyInformation {
background-color: #ffd9e4;
margin-bottom:25px;
}
#main .monthlyInformation h2{
color:#333333;
padding:38px 19px;
font-size:156.3%;
font-weight:bold;
}
#main h2{
color:#ffffff;
padding:18px 18px 16px 18px;
_padding:15px 13px;
font-weight:bold;
}
#main .txt_pink{
color:#ec3875;
}
#main #wrapH2_980{
background-color: #666666;
position:relative;
margin-bottom:25px;
}
#main #wrapH2 p.gotoWeb{
position:absolute;
top:0;
right:0;
padding:10px;
}
#main h3,
#main h4,
#main h5,
#main .wrapTit03 h5,
#main .wrapTit03 h6{
font-weight:bold;
}

#main .wrapTit01{
background:url(../common/img/bg_h3.jpg) no-repeat bottom;
margin-bottom:30px;
}
#main .wrapTit01 h3{
height:32px;
padding:20px 0 0 0;
}
#main .wrapTit02{
border-top:2px #ec3875 solid;
border-bottom:1px #e5e5e5 solid;
margin-bottom:12px;
padding:13px 0;
}
.newStyle #main .wrapTit03 {
background:url(../common/img/bg_h4.jpg) no-repeat 0 3px;
padding-left:8px;
padding-bottom:10px;
}
#main .wrapTit03{
background:url(../common/img/bg_h4.jpg) no-repeat 0 top;
padding-left:8px;
padding-bottom:10px;
}
#main .wrapTit03.mlf{
background:url(../common/img/bg_h4.jpg) no-repeat 0 3px;
}
#main .wrapTit04 {
    padding: 10px;
    margin-bottom: 15px;
}

#main .wrapMore01{
background:url(../common/img/bg_more01.jpg) no-repeat;
text-align:center;
height:48px;
padding:14px 0 0 0;
}
#main .wrapLine01{
background:url(../common/img/bg_line01.jpg) no-repeat bottom;
margin-bottom:10px;
padding:0 0 7px 0;
}
#main .wrapMore02tit{
background:url(../common/img/bg_more02tit.jpg) no-repeat;
padding:30px 30px 0;
}
#main .wrapMore02box{
background:url(../common/img/bg_more02box.jpg) no-repeat bottom;
padding:10px 30px 31px;
}
#main .wrapMore03box{
background:url(../common/img/bg_more03box.jpg) no-repeat bottom;
padding:10px 30px 31px;
}
#main .line02{
background:url(../common/img/bg_line02.jpg) no-repeat bottom;
margin-bottom:21px;
padding:0 0 8px 0;
}
#main .wrapNew01_980{
background:url(../about/img/bg_new01.gif) no-repeat;
text-align:center;
height:65px;
padding:16px 0 0 0;
}
#main .wrapNew02tit_980{
background:url(../about/img/bg_new02tit.gif) no-repeat;
padding:27px 27px 5px 27px;
}
#main .wrapNew02box_980{
background:url(../about/img/bg_new02box.gif) no-repeat bottom;
padding:0 27px 27px 27px;
}
#main .wrapNew02box_980 .line02{
background:url(../about/img/bg_line02.gif) no-repeat bottom;
margin-bottom:5px;
padding:0 0 4px 0;
}

/* --------------------------------
Pages
-------------------------------- */
/* ----- service - name ----- */
#main #bt_akasatana{
/width:751px;
}
#main #bt_akasatana ul{
margin-right:-1px;
}
#main #bt_akasatana ul li{
float:left;
}
#main #bt_akasatana + .section {
margin-top: 28px;
}
#main nameList{
margin-top: 1.35em;
}
#main nameList{
padding: 0 0 13px 0;
}
#main .subtitle {
padding: 0;
font-size: 100%;
}
#main .subtitle span {
font-size: 142.8%;
font-weight: bold;
color: #de366f;
}
#main .subtitle span em {
font-size: 80%;
}
#main .subtitle + .nameList {
margin-top: 0.5em;
}
#main .nameList {
	margin-top: 1.35em;
}
#main .nameList .companyTitle {
padding-left: 13px;
background: url(../img/index/arr_02.png) no-repeat 0 0.45em;
font-size: 107.2%;
font-weight: bold;
}
#main .nameList h3 {
font-size: 94%;	
}
#main .nameList p {
padding-left: 13px;
font-size: 75%;
}
#main .nameBlock {
padding-bottom: 40px;
margin-bottom: 40px;	
border-bottom: 1px solid #e5e5e5;
}
/* ----- service - group ----- */
#main ul.nameList{
margin-top: -30px;	
}
#main ul.nameList li{
padding: 13px 0 13px 13px;
border-bottom: 1px #e5e5e5 solid;
}


/*-------------------------
* ページトップに戻る 750px
--------------------------*/
.pagetop750{
clear: both;
display:inline-block;
width: 750px;
padding-bottom: 10px;
padding-left: 0;
}
.pagetop750 span{
display:block;
float:right;
padding-right:11px;
border-right:1px solid #ccc;
}
.pagetop750 a{
display:block;
padding-left:25px;
border-left:1px solid #ccc;
background:url(../common/img/arr_pagetop.gif) no-repeat 9px .25em;
}
.pagetop750 a:link,
.pagetop750 a:visited,
.pagetop750 a:hover,
.pagetop750 a:active{
color:#005e8c;
}


/* ----- service group ----- */
#main .group{
background:url(../common/img/bg_more02box.jpg) no-repeat bottom;
padding:0 27px 27px 27px;
}

#main .groupList{
width:696px;
margin-bottom:6px;
}
#main .groupList ul {
font-size:75%;
line-height:1.417em;
margin-bottom: 5px;
}
#main .groupList ul li {
float:left;
padding-left:15px;
background:url(../common/img/arr_01.gif) no-repeat 4px 0.3em;
margin-right: 5px;
margin-left: 10px;
width: 85px;
}
#main .group .clearfix { display:block; }



/* ----- service - needs ----- */
#main .needsBox {
width:361px;  
border:2px solid #d5d5d5;
}
#main .needsBox .BoxIn{
margin:24px 20px 18px 18px;
}
#main .topLinkBtn {
border-top: 1px solid #d9d9d9;
margin-top: 1.57em;
}
#main .detailLink {
display: inline-block;
width: 323px;
margin-top: 7px;
color:#ffffff;
background-color:#666666;
padding:12px 0px;
text-align:center;
font-weight: bold;
}
#main .detailLink .arw {
background:url(../common/img/arr_02.gif) no-repeat left center;
padding-left: 9px;
}
#main .detailLink:hover{
opacity: 0.8; -ms-filter: "alpha(opacity=80)";
filter: alpha(opacity=80);
}
/* ----- service - company ----- */
/* tabs */
#main #tabCompany{
position:relative;
background:url(../member/service/img/bg_tab.jpg) no-repeat 0 48px;
}
#main #tabCompany ul{
/*padding-left:15px;*/
}
#main #tabCompany ul li{
float:left;
margin-right:5px;
}
#main #tabCompany p.companyLogo{
position:absolute;
right:10px;
top:-18px;
z-index:10;
}
#main #wrapTabTitle{
/*margin:-4px 0 0 0;*/
/*padding:0 16px;*/
}

/* company table */
#main .companyTable{
border-top:1px #e6e6e6 solid;
border-collapse:collapse;
width:750px;
margin-bottom:15px;
}
#main .companyTable th{
border-bottom:1px #e6e6e6 solid;
border-right:1px #e6e6e6 solid;
width:15em;
padding:7px;
}
#main .companyTable td{
border-bottom:1px #e6e6e6 solid;
padding:7px;
}
#main .tr02-odd{
background:#f2f2f2;
}
#main .tr02-even{
background:#fff;
}


/* ----- monthly ----- */
#main .sectionMonthlyTop p.copy,
#main .sectionMonthlyTop02 p.copy,
#main .sectionMonthlyTop03 p.copy{
padding-bottom: 25px;
border-bottom: 1px #dadada solid;
}
#main .wrapCompanyName{
background:url(../common/img/bg_h4.jpg) no-repeat 0 1px;
padding:0 0 15px 11px;
}
#main .bg_bt01 .more02{
position:absolute;
top:6px;
right:6px;
}
#main .sectionMonthlyTop .more02:hover,
#main .sectionMonthlyTop02 .more02:hover,
#main .wrapMore01 a:hover,
#main .txtC a:hover{
opacity: 0.8;
-ms-filter: "alpha(opacity=80)";
filter: alpha(opacity=80);
}

#main .more02{
color:#fff;	
background:#666666;
margin-top:7px;
padding:17px 0 18px;
text-align:center;
display:block;
}
#main .more02 .arw{
background:url(../common/img/arr_02.gif) no-repeat left center;
padding-left:9px;
}

#main .sectionMonthlyTop02 p.copy02{
padding-left:20px;
}
#main .wrap_bg_bt01a{
background:url(../member/monthly/img/bg_bt_top02.jpg) no-repeat top;	
width:400px;
position:relative;
padding-top:10px;
}
#main .wrap_bg_bt01a .bg_bt01a{
background:url(../member/monthly/img/bg_bt_bottom02.jpg) no-repeat bottom;	
}
#main .wrap_bg_bt01a .bg_bt01a .wrapCompanyName{
background:url(../common/img/bg_h4.jpg) no-repeat 0 3px;
margin:0 0 0 10px;
padding:0 0 10px 8px;
width:250px;
}
#main .bg_bt01a .more02{
position:absolute;
top:6px;
right:6px;
}
.gray_box{
	padding:40px 0 40px 30px;
	background-color:#f2f2f2;
	border: 1px solid #e0e0e0;
}

/* monthlyTable */
#main .monthlyTable{
border:1px #036fbb solid;
border-collapse:collapse;
width:750px;
margin-bottom:15px;
font-size:75%;
line-height:1.417em;
}
#main .monthlyTable th,
#main .monthlyTable td {
border:1px #036fbb solid;
border-collapse:collapse;
}
#main .monthlyTable th{
background:#dae8f2;
padding:7px;
font-weight:bold;

}
#main .monthlyTable td{
padding:7px;
}



/* special */
#main .specialTit{
	border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}
#main .specialTit h2{
	background: #fff5f8; 
	border: 1px solid #f2ceda; 
	border-radius: 3px; 
	color:#333333;
}

/* ----- monthly backNumber ----- */
#main .backNumber{
background:url(../common/img/bg_more02box.jpg) no-repeat bottom;
padding:30px;
}

#main .backNumberList{
width:696px;
margin-bottom:6px;
}
#main .backNumberList ul {
font-size:87.5%; 
line-height:1.417em;
}
#main .backNumberList ul li {
float:left;
padding-left:15px;
background:url(../common/img/arr_01.gif) no-repeat 4px 0.3em;
margin-right: 5px;
width: 85px;
}
#main .backNumberList .clearfix { display:block; }


/* ----- special backNumber ----- */
#main .SPbackNumber{
background:url(../common/img/bg_more02box.jpg) no-repeat bottom;
padding:30px;
}

#main .SPbackNumberList{
width:696px;
margin-bottom:6px;
}
#main .SPbackNumberList ul {
line-height:1.417em;
}
#main .SPbackNumberList ul li {
padding-left:15px;
background:url(../common/img/arr_01.gif) no-repeat 4px 0.3em;
margin-bottom: 5px;
}



/* ----- request ----- */
#main .requestBoxF{
margin-bottom:20px;
background-image: url(../member/request/img/bg_box_line.jpg);
background-repeat: repeat-y;
background-position: left top;
}
#main .requestBoxttl{
background-image: url(../member/request/img/bg_box_top.jpg);
background-repeat: no-repeat;
background-position: left top;
height: 3px;
}
#main .requestBoxInner{
padding: 29px 30px 27px;
}
#main .requestBoxBottom{
background-image: url(../member/request/img/bg_box_bottom.jpg);
background-repeat: no-repeat;
background-position: left bottom;
height: 3px;
}

#main .requestBoxLine{
margin-bottom:10px;
background-image: url(../member/request/img/line01.jpg);
background-repeat: repeat-x;
background-position: center top;
height:1px;
}

#main .requestBoxInner .requestList-01 li{
padding-left: 14px;
margin-right:18px;
display:block;
float:left;
}
#main .requestBoxInner .requestList-01{
display: inline-block;
line-height: 1.5em;
margin-bottom: 2.6em;
}
#main .requestBoxInner .requestBoxwhite{
background:#fff;
border:1px #e0e0e0 solid;
padding:20px 21px 6px;
}
#main .requestBoxInner .requestBoxwhite .title{
background:url(../member/request/img/bg_line.gif) no-repeat bottom;
margin-bottom:21px;
padding: 0 0 8px 0;
}
#main .requestBoxwhit ul {
width: 646px;
}
#main .requestBoxwhite li {
float:left;
width: 276px;
padding-left:14px;
padding-right:25px;
margin-bottom:13px;
background:url(../member/request/img/disc_white.gif) no-repeat 0 2px;
}

.usage_flow {
	width: 100%;
	padding-top: 25px;
}
.usage_flow .usage_cols {
	position: relative;
	float: left;
	width: 150px;
	margin-right: 10px;
	padding: 10px;
	border: 5px solid #e6e6e6;
}
.usage_flow .usage_last_cols {
	margin: 0;
}
.usage_flow .usage_step {
	position: absolute;
	top: -12px;
	left: 10px;
}
.usage_flow .usage_img {
	padding: 38px 0 17px;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
.usage_flow .text {
	padding-top: 10px;
	font-size: 75%;
	color: #333;
}

.anchor_part {
	width: 100%;
	padding-bottom: 22px;
}
.anchor_part li {
	float: left;
	width: 373px;
	margin-bottom: 8px;
	border-left: 1px solid #d8d8d8;
	font-size: 87.5%;
	font-weight: bold;
	line-height: 23px;
}
.anchor_part li:nth-child(2n) {
	width: 374px;
	border-right: 1px solid #d8d8d8;
}
.anchor_part li a {
	display: block;
	padding-left: 45px;
	background: url(../member/request/img/down_arr.gif) no-repeat 24px center;
}


/* ----- sitemap ----- */

#main ul.listSitemap{
}
#main ul.listSitemap li{
padding:12px 24px;
border-bottom:1px #e5e5e5 solid;
background:url(../common/img/arr_04.png) no-repeat 12px center;
}
#main ul.listSitemap li.sub{
background:none;
padding:12px 0 0 12px;
}
#main ul.listSitemap li a{
font-weight:bold;
}
#main ul.listSitemapSub{
margin:12px 0 0 12px;
background:#ededed;
}
#main ul.listSitemapSub li{
float:left;
border:none;
}

/* ----- topics ----- */
#topicsArea {
margin-top: 26px;
}
#topicsArea dl {
padding-top: 8px;
}
#topicsArea dt {
margin-top: 0.317em;
margin-bottom: -1.417em;
padding-left:13px;
width: 11.5em;
background: url(../img/index/arr_01.png) no-repeat 0 0.35em;
}
#topicsArea dd {
padding-left: 10em;
border-bottom: solid 1px #ebebeb;
padding-bottom: 0.65em;
}

/* ----- metoa ----- */
#main .lead_img {
padding: 0;
}
#main .metoaBlock {
padding: 18px 0 50px;
}
#main .metoaBlock.first {
padding: 18px 0 40px;
}
#main .metoaBlock .floatR {
margin-left: 20px;
}
#main .metoaBlock .floatL {
margin-right: 20px;
}
#main .robot_city {
padding-top: 26px;
}
#main .robot_city ul li {
float: left;
margin-left: 20px;
}
#main .robot_city ul li img {
vertical-align: bottom;
}
#main .robot_city ul li:first-child {
margin-left: 0;
}
#main .metoaBox {
margin-top: 70px;
padding: 40px;
background: #f2f2f2;
border: 1px #e0e0e0 solid;
}
#main .metoaBox .floatL {
margin-right: 40px; 
}
#main .metoaBox .floatR {
width: 488px;
margin-left: 0;
}
#main .metoaBox .metoaDetail {
position: relative;
}
#main .metoaDetail dt {
position: absolute;
padding: 5px 0 0 0;
}
#main .metoaDetail dd {
padding: 5px 0 0 96px;
}
#main .metoaBtn a {
background: #fff;
margin-top: 14px;
padding: 26px 0;
text-align: center;
display: block;
}
#main .metoaBtn .arw {
background: url(../common/img/arr_01.gif) no-repeat left center;
padding-left: 14px;
}
#main .pb25px {
padding-bottom: 25px;
}
#main .twoCol {
padding-top: 26px;
}
#main .twoCol ul li {
float: left;
margin-left: 30px;
}
#main .twoCol ul li img {
vertical-align: bottom;
}
#main .twoCol ul li:first-child {
margin-left: 0;
}
#main .twoCol .floatR {
    margin-left: 0;
}
#main .metoaPlanning {
border-top: 1px solid #e5e5e5;
margin-top: 20px;
padding-top: 16px;
}
#main .metoaBacknumber {
margin: 60px 0 26px;
}
#main .metoaBacknumber ul {
font-size: 87.5%;
line-height: 1.417em;
}
#main .metoaBacknumber ul li {
padding-left: 14px;
background: url(../common/img/arr_01.gif) no-repeat 1px 0.4em;
margin-right: 5px;
}

/* ----- monthly ----- */

.notes span {
display: inline-block;
text-indent: -2em;
}

.noteList {
margin-left: 1.5em;
}
.noteList li{
margin: 0.4em 0 0 1em;
text-indent: -1em;
}
.numberList li { 
margin-bottom: 5px; 
padding-left: 12px; 
text-indent: -12px;
}
.detailList dt { 
float: left; 
padding-right: 5px;
}
.detailList dd { 
margin-bottom: 5px; 
padding-left: 95px;
text-indent: -4px;
}
.numberList li.mb0,
.detailList dd.mb0 { 
margin-bottom: 0 !important;
}
.detailList dd.dateList {
	padding-left: 46px !important;
}
.br1em {
margin-bottom: 1em !important;
}
.txt_red {
color:#ff0000;
font-weight:bold;
}
.detailList .noteList li {
text-indent: 0 !important;
margin-left:0 !important;
}
.detailList dd.addressList {
padding-left: 75px !important;
}
.detailList dd.addressList .noteList {
margin-left:0 !important;
}
.noteList em {
display:inline-block;
margin-bottom: 0.5em;

}

.word_break {
word-break: break-all;
}
.notes {
margin-left: 2em;
}
.notes.ml1em {
margin-left: 1em;
}

.red_notes {
margin-left: 4em;
text-indent: -2em;
color:#ff0000;
}
.red_notes span {
display: inline-block;
text-indent: -2em;
}
.black_notes {
margin-left:3em;
text-indent: -2em;
}
.black_notes span {
display: inline-block;
text-indent: -1em;
}

.title_bg_pink {
padding: 12px 12px 10px;
margin-bottom: 15px;
background-color: #fcedf2;
}
a.btn_metoa {
color: #ffffff;
}
.btn_metoa {
display: inline-block;
width: 224px;
padding: 8px 0;
background: url(../member/monthly/img/arr_01.png) no-repeat 3.7em center;
font-size: 75%;
font-weight:bold;
background-color: #de366f;
}

/* ----- athlete ----- */
#main.athlete .wrapTit02{
    border-top-color: #1565c0;
}
#main.athlete .wrapTit03 {
    background: none;
    position: relative;
    padding-bottom: 15px;
}
#main.athlete .wrapTit03:before {
    content: "";
    display: block;
    width: 4px;
    height: 1em;
    background-color: #1565c0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: calc(-0.5em - 5px);
}
#main.athlete .wrapTit04 {
    background-color: #e3f2fd;
}
#main.athlete .line02 {
    background: none;
    border-bottom: 1px solid #1565c0;
}
#main .date {
	padding-left: 12.3em;
}